body {
    background-color: aqua;
}

.box {
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin: 50px;
}

#visible {
    color: blue;
    overflow: visible;
}

#hidden {
    color: green;
    overflow: hidden;
}

#scroll {
    overflow: scroll;
}

#scroll p {
    width: 400px;
}

#auto {
    color: deeppink;
    overflow: auto;
}
